


body {
    background: #fff;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.container-all {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #fff;
}


.wrap-form {
    width: 800px;
    background: #fff;
    border-radius: 10px;
    padding: 42px 55px 45px 55px;
    max-width: 900px;
}

.table-form {
    width: 100%;
}

.form-title {
    display: block;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}


/*body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
}*/



/* Form */
.form {
    position: relative;
    z-index: 1;
    background: #fff;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 30px;

}



.form input {
    outline: 0;
    background: #f2f2f2;
    width: 50%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 3000px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

input[type=submit] {
    background-color: #14487E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    background-color: #14487E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #78B8E5;
}

input[type=reset]:hover {
    background-color: #78B8E5;
}


.FormArea input[type=radio] {
    float: right;
}



.input-group .input-group-addon {
    border: none;
}


.container .info {
    margin: 50px auto;
    text-align: center;
}

#note {
    text-align: center;
    font-size: small;
}

.botones {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
}

